{
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parser": "babel",
                "semi": true,
                "singleQuote": true
            }
        }
    ]
}